.LinksClass{
  display: flex;
  gap: 20px;

}
.LinksClass a {
  text-decoration: none;
}
.HomePage a{
  text-decoration: none;
}
.HomePage , .About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.HeadTail {
display: flex;
gap: 10px;
justify-content: center;
align-items: center;
margin-top: 100px;
cursor: pointer;
}
button{
  cursor: pointer;
  height: 27px;
  width: 100px;
  background-color: greenyellow;
  color: crimson;
  border: none;
  border-radius: 10px;
}
#selectValue{
  width: 120px;
  cursor: pointer;
}
option{
  cursor: pointer;
}
.itemData{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
